
body {
    background: url('./game-background-4956017_1280.webp') no-repeat center center fixed;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vb;
    margin: 0;
}
settings {
    right: 100px;
    position: absolute; top: 10px;
    right: 100px;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

a {
    background-color: #007bff;
    color: white;
    border-radius: 1%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
button {
    background-color: #007bff;
    color: white;
    border-radius: 1%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}